
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In Form</title>

   
    
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign In</h2>
                        <form (ngSubmit)="onSubmit(user.email)" method="GET" class="register-form" id="register-form" action="">
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input [(ngModel)]="user.email" type="email" name="email" id="email" placeholder="Your Email" required/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input [(ngModel)]="user.password" type="password" name="pass" id="pass" placeholder="Password" required/>
                            </div>
                            <!-- <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
                                <label for="agree-term" class="label-agree-term"></label>
                            </div> -->
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signup" class="form-submit" value="Login"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="https://cdn-icons-png.flaticon.com/512/472/472096.png" alt="sing up image"></figure>
                        <a routerLink="/register" class="signup-image-link">Create an Account </a>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>