<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pitza</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        

        <!-- Template Stylesheet -->
        
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                        <div class="navbar-nav mr-auto">
                            <a href="#" class="nav-item nav-link active">Home</a>
                            <a href="#about" class="nav-item nav-link">About</a>
                            <a href="#feature" class="nav-item nav-link">Features</a>
                            <a href="#team" class="nav-item nav-link">Team</a>
                        </div>
                        <div class="ml-auto btn btn-custom">
                            <a href="/register">Register</a> /
                            <a href="/login">Login</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!--  Start -->
        <div class="top">
            <div class="container-fluid">
                
                    <div class="top-item">
                        <div class="top-img">
                            <img src="https://st.depositphotos.com/1003814/5052/i/950/depositphotos_50523105-stock-photo-pizza-with-tomatoes.jpg" alt="Image">
                        </div>
                        <div class="top-text">
                            
                            <h1>Pitza</h1>
                        </div>
                    </div>
                
            </div>
        </div>
        <!-- top End -->

        <!-- About Start -->
        <div id="about">
                            
            <div class="section-header text-center">
                <h2>About</h2>
            </div>
            
            <p class="abt-content">
                At Pitza we care for our you. When you opt for online pizza delivery at our app, you recieve the best pizza options and choices from choose from among our variety of avaiable selection. Just register for order from anywhere.
                
            </p>
                  
        </div>
        <!-- about End -->


        <!-- features Start -->
        <div  id="feature">
                            
            <div class="section-header text-center">
                <h2>Why choose Pitza for pizza ?</h2>
            </div>
            <div class="feat1-para">
                <p class="para">
                    Customize your own order by choosing from different sizes available on your pizza.
                </p>
            </div>
            
            <div class="feat2-para">
                <p class="para">
                    Order are done easily by selecting pizza of your choice and in one click.
                </p>
            </div>
            <div class="feat3-para">
                <p class="para">
                    Exclusive Offers avaiable on different pizza every day of the week.
                </p>
            </div>
            <div class="feat2-para">
                <p class="para">
                    Get your pizza delivery in 30 minutes.
                </p>
            </div>
                  
        </div>
        <!-- features End -->







        <!-- Team Start -->
        <div id="team" class="team">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Team</h2>
                </div>
                <div class="row team-row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/assets/img/ayush.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Ayush Jain</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/assets/img/ayush.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Kunal Shetty</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/assets/img/ayush.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Raj Shisode</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/assets/img/ayush.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Sameer Sawant</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        <!-- Footer Start -->
        <div class="footer">
            <div class="container copyright">
                <p>&copy;Pitza, All Right Reserved. Designed By <a href="">Team</a></p>
            </div>
        </div>
        

    
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

        <!-- Template Javascript -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>

